@import url('https://fonts.cdnfonts.com/css/rubik-2');

.titlebar {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    border-bottom: 4px solid #444;
    width: 100%;
    background-color: #eee;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  
    &__logo-and-name {
      display: flex;
      align-items: center;
      gap: .25rem;
      margin-left: 1rem;
  
      &__logo {
        height: 36px;
        width: 36px;
        object-fit: contain;
      }
  
      &__name {
        margin: 0;
        font-size: 1.75rem;
        font-weight: 700;
        color: #007acc;
        white-space: nowrap;
        font-family: 'Rubik', sans-serif;
      }
    }
  }
  