i {
    display: block;
    height: 24px;
    width: 24px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.lock-icon {
    background-image: url("/icons/lock-icon.svg");
}

.github-icon {
    background-image: url("/icons/github-icon.svg");
}